<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hrquizer.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider
            android:authorities="hrquizer.app"
            android:name=".DBHelperProvider">
        </provider>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.StartApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.StartQuizer"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.StartAsk"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.Analysator"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.StartCategoryQuiz"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.StartCodeQuiz"
            android:label="@string/app_name" >
        </activity>
        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="hrquizer.app.Authorization"
            android:label="@string/app_name" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
